@model SalesWebMvc.Models.FormaPagamento

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FormaPagamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GeraFinanceiro" /> @Html.DisplayNameFor(model => model.GeraFinanceiro)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="BaixaLancamento" /> @Html.DisplayNameFor(model => model.BaixaLancamento)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CartaoCredito" /> @Html.DisplayNameFor(model => model.CartaoCredito)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CartaoCreditoVencimento" class="control-label"></label>
                <input asp-for="CartaoCreditoVencimento" class="form-control" />
                <span asp-validation-for="CartaoCreditoVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartaoCreditoMelhorDia" class="control-label"></label>
                <input asp-for="CartaoCreditoMelhorDia" class="form-control" />
                <span asp-validation-for="CartaoCreditoMelhorDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class ="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
